<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/boot.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>.hidden{display:none} /* Avoids FOUC */</style>
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->


    <!-- MASTHEAD -->
    <div class="jumbotron jumbotron-fluid">
      <div class="logo">J</div>

      <div class="container">
        <h1 class="display-2">Just Front-end Jobs</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Post a Job</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Find a Job</a>
        </p>
      </div>
    </div>


    <div id="main-container" class="container">

      <div class="row">
        <div class="col-lg-9 red center">


          <div class="row section filters">
            <div class="w-100 filters-container" style="border-bottom: 2px solid white; ">
              <!-- <h4> Filter by</h4> -->
              <h4 class="filter-subheading">FILTER BY LOCATION</h4>

              <button type="button" class="btn-sm btn-light">Near me</button>
              <button type="button" class="btn-sm btn-light">Remote-Friendly</button>
              <input  class="form-control btn-sm" placeholder="City, State " style="width: auto; display: inline-block;">
            </div>
            <div class="w-100 filters-container">
              <h4 class="filter-subheading">FILTER BY TAGS</h4>

              <button type="button" class="btn-sm btn-light">Senior</button>
              <button type="button" class="btn-sm btn-light">Junior</button>
              <button type="button" class="btn-sm btn-light">React Native</button>
            </div>
        </div>



        <!-- Search and Tags -->
        <div class="row section">
          <div class="center col-lg-9">
            <!-- <% include ./partials/header %> -->


            <div class="search-container">
              <!-- <button type="button" class="btn btn-primary">Find jobs near me</button> -->


              <% if (!locals.terms) { %>
                <form id="search-form">
                  <!-- <label>Search</label> -->
                  <input class="form-control fuzzy-search" style="padding: 0.375rem 1.25rem; font-size: 1.5rem; line-height: 2;" placeholder="Search by location, tags, company..." type="text">
                </form>
              <% } %>


            </div>

            <div class="tags-filtered">
              <% if (locals.terms) { %>
                <% for(var k=0; k < terms.length; k++) { %>
                  <a href="/removefilter/<%= terms[k] %>" class="badge badge-secondary"><%= terms[k] %> | x</a>
                <% } %>

              <% } %>
            </div>
          </div>
        </div>
        <!-- END SEARCH OF TAGS-->



          <div class="job-list list">
            <h4 class="filter-subheading">LATEST FRONT-END JOBS</h4>
            <% for(var i=0; i < jobData.length; i++) { %>
              <div class="job-item row">
                <div class="desc-short col-12">
                  <div class="job-title"><h4 data-uid="<%= jobData[i].permalink %>" class="title"><%= jobData[i].title %></h4></div>

                  <div class="">
                    <span class="meta">
                      <strong class="company"><a href="/filter/search?company=<%=jobData[i].company %>"><%= jobData[i].company %></a></strong> in
                      <span class="location"><a href="/filter/search?location=<%=jobData[i].location%>"><%= jobData[i].location %></a></span>
                    </span>

                    <span class="job-tags">

                      <% for(var j=0; j < jobData[i].tags.length; j++) { %>
                        <a href="/addfilter/<%= jobData[i].tags[j] %>" class="tag-item badge badge-secondary"><%= jobData[i].tags[j] %></a>
                      <% } %>
                    </span>
                  </div>
                </div>

                <div class="desc-long col-12 hidden">

                  <%- jobData[i].details %>
                  <a class="btn btn-primary" target="_blank" href="<%=jobData[i].apply_url %>" role="button">Apply</a>
                </div>

              </div>

            <% } %>

          </div>
        </div>
        <div class="col-sm-3 blue hidden">
          One of three columns <br>
          right rail will go here...
        </div>
      </div>
    </div>


    <div class="jumbotron jumbotron-fluid footer">

      <div class="container">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p>GIANT LOGO HERE FADED IN THE BACKGROUND UNDER THE LINKS... The robot guy?</p>
      </div>

      <!-- <div class="logo">J</div> -->
    </div>


    <script src="/javascripts/vendor/list.min.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>
